<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Running Processes</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Running Processes</h1>
    <ul>
    {% for name, pids in processes.items() %}
        <li>{{ name }} - {{ pids|join(', ') }}
            <form action="/terminate/{{ name }}" method="post" style="display:inline;">
                <button type="submit">Terminate All {{ name }} Processes</button>
            </form>
        </li>
    {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">
        <button type="button">Back</button>
    </a>
</body>
</html>
